version: '3'

volumes:
  neo4j_persistent:
  pgadmin-data:

services:
  neo4j:
    image: neo4j
    volumes:
      - neo4j_persistent:/var/lib/neo4j
      # - ../data/neo4jtry:/var/lib/neo4j/import:ro # to use with Cypher
      - ./plugins:/var/lib/neo4j/plugins
      - ../data/neo4jtry:/downloads:ro
    environment:
      - NEO4J_AUTH=neo4j/strongpassword
      - NEO4J_PLUGINS=["bloom", "graph-data-science", "apoc"]
      - NEO4J_server_memory_heap_max__size=20G
      - NEO4J_server_memory_pagecache_size=20G
      # - NEO4J_dbms_memory_transaction_total_max=4G
    ports:
      - 7474:7474
      - 7687:7687

  postgres:
    image: postgres:16.0-alpine
    restart: always
    environment: 
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "postgres"
      POSTGRES_DB: datdb
    # volumes: 
      # - ./dbconfig:/docker-entrypoint-initdb.d
    ports: 
      - 32772:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - "8888:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: example@example.com
      PGADMIN_DEFAULT_PASSWORD: supersecret
    volumes:
      - pgadmin-data:/var/lib/pgadmin