# dev tools
pip-tools
pre-commit
flake8
black
fire
line_profiler
nbstripout==0.6.1
jupyterlab_code_formatter
papermill

# fetch data
gql[all]
aiofiles
gql_schema_codegen # generate pydantic from graphql
pydantic
scrapy
pyarrow

# data processing
pandas
scikit-learn

# visualization
tabulate
plotly
seaborn
dtale
plotnine
ipywidgets>=7.6 # for use plotly inside jupyter
jupyter-dash
jupyter_bokeh
kaleido # for plotly to save images

# graph
networkx[default]
gqlalchemy # connect to memgraph

# support
fire
tqdm
spidermon[monitoring]
country-converter